<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP5</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" routerLink="add">Ajouter</a> -->
        <a class="nav-item nav-link active" (click)="openAddDialog()">Ajouter</a>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Gestion des médecins
    </p>
    <button mat-raised-button color="primary" class="btn" routerLink="display">Ouvrir<mat-icon>arrow_right</mat-icon></button>
  </div>
  <router-outlet></router-outlet>
</div>
