<div class="entry-container">
    <span class="id"> ID : {{doctor.idmedecin}}</span>
    <span class="name">{{doctor.prenom + " " + doctor.nom}}</span>
    <span class="specialite">Spécialité : {{doctor.specialite}}</span>
    <span class="exp">Années expérience : {{doctor.anneesexperience}}</span>
    <div class="buttons">
        <button class="modify" (click)="this.openModificationDialog()"> <mat-icon>edit</mat-icon> </button>
        <button class="delete" (click)="this.openDeleteDialog()"> <mat-icon>delete</mat-icon> </button>
    </div>
</div>