.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  form {
    text-align: left;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  